.container h1{
  background: blue;
  font-size: 4rem;
}

.container h2{
  background: gray;
  font-size: 3rem;
}

.container button{
  background: green;
  font-size: 2rem;
  margin: 0px 1rem;
  padding: 1rem 1.5rem;
  border-radius: 100%;
}